.auth-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  margin-top: 5rem;
}

/* Same size for both forms */
.form-box {
  width: 360px;        /* fixed width */
  min-height: 460px;   /* fixed height */
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form-box .ps{
  border-radius: 12px;
  height: 420px;
  width: 320px;
}
.form-box h3 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #333;
}
.form-box p {

  font-size: 1.2rem;
 
}

.form-box .box {
  width: 100%;
  margin: 0.7rem 0;
  padding: 0.9rem 1rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
}

.form-box button {
  width: 100%;
  padding: 0.9rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 6px;
  color: #fff;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  cursor: pointer;
}

.form-box button:hover {
  transform: scale(1.05);
}
