:root{
    --primary:#2C3E50;   /* Dark Blue */
    --accent:#E67E22;    /* Orange */
    --black:#333333;     /* Text */
    --light-color:#666;  /* Sub text */
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--primary);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}
.book-info {
    padding: 3rem 9%;
    background: #f9f9f9;
}

.book-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    background: #fff;
    border: var(--border);
    border-radius: 8px;
    padding: 3rem;
    box-shadow: var(--box-shadow);
}

.book-image {
    flex: 1 1 20%;
    text-align: center;
}

.book-image img {
    max-width: 40%;
    border-radius: 5px;
    object-fit: cover;
}

.book-details {
    flex: 1 1 55%;
}

.book-title {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    color: #333;
}
.book-author, .book-release, .book-genre {
    font-size: 1rem;
    color: var(--light-color);
    margin: 0.3rem 0;
}
.book-rating {
    margin: 0.8rem 0;
    font-size: 1.2rem;
    color: #f39c12;
}

.book-price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #e63946;
    margin-bottom: 1rem;
}
.book-price small{
    color: var(--light-color) ;
    text-decoration: line-through;
}

.book-desc {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
    color: #555;
}

.book-actions {
    display: flex;
    gap: 1rem;
}

.book-actions .btn {
    padding: 0.8rem 1.5rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    transition: 0.3s;
}
.homepage {  
    font-size: 15px;  
    background: #ffffff;
    color: var(--accent);
    padding-top: 10px;
}

.homepage:hover {
    background: #ffffff;
    color: #000000;
}


.add-cart {
    background: #000000;
    color: #fff;
}

.add-cart:hover {
    background: #000000;
}

.add-wishlist {
    background: #ffffff;
    border-radius: 50%;
    padding-top: 10px;
   

}
.add-wishlist i {
    color: var(--accent);
    font-size: 2rem;
}
.add-wishlist:hover {
    background: #ffffff;
}
.add-wishlist:hover i {
    color: #000000;
}

@media (max-width: 768px) {
    .book-container {
        flex-direction: column;
        text-align: center;
    }
    .book-image img {
        max-width: 70%;
        margin-bottom: 1rem;
    }
}
